:root {
  --app-background: #fff;
  --app-color: #000;
  --app-screen-background: #ffffffef;
  --app-popup-background: #2c2c2cc2;
  --app-popup-message-background: #005afd47;
  --app-popup-message-error-background: #fd000047;
}

body {
  background: var(--app-background);
  color: var(--app-color);
}

#top-bar {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  padding: 7px;
  text-align: left;
}

#top-bar > span {
  border-radius: 5px;
  padding: 5px;
  background: #c4c2c2;
  cursor: pointer;
  margin-right: 5px;
}

.top-bar-settings > table {
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  background: var(--app-background);
}

.top-bar-settings > table td {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-bar-settings > table td.head {
  border-bottom: 2px dashed black;
  font-weight: bold;
}

#messages {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#messages > .message {
  display: block;
  width: 300px;
  min-height: 20px;
  background: var(--app-popup-message-background);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  z-index: 999;
}

#messages > .message[level="error"] {
  background: var(--app-popup-message-error-background);
}

.rate {
  white-space: nowrap;
}

.rate-select {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 2px;
  cursor: pointer;
  /* background: #b0c4de; */
}

*[rate="1"] {
  background: #ff0000;
}

*[rate="2"] {
  background: #ffa500;
}

*[rate="3"] {
  background: #ffff00;
}

*[rate="4"] {
  background: #90ee90;
}

*[rate="5"] {
  background: #008000;
}
