:root {
  --app-background: #fff;
  --app-color: #000;
  --app-popup-background: #2c2c2cc2;
  --app-popup-message-background: #005afd47;
  --app-popup-message-error-background: #fd000047;
}

body {
  background: var(--app-background);
  color: var(--app-color);
}

span.tag {
  border-radius: 3px;
  padding: 3px;
  margin: 2px;
  background: lightgrey;
  display: inline-block;
}

span.page {
  border-radius: 3px;
  padding: 3px;
  margin: 2px;
  min-width: 20px;
  background: lightgrey;
  display: inline-block;
  cursor: pointer;
}
span.page[current="true"] {
  background: grey;
}

/* a.title {
  text-decoration: none;
  color: black;
} */

#title-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.title {
  display: inline-grid;
  grid-template-areas:
    "img name name name name"
    "img id pgc pgp dt"
    "img tag tag tag tag";
  grid-template-rows: none;
  grid-template-columns: 130px 1fr 1fr 1fr 1fr;
  border-spacing: 0px;
  /* max-width: 500px; */
  width: 500px;
  height: 200px;
}

.title *[t="red"] {
  color: red;
}

.title *[t="bred"] {
  background: pink;
}

.title:hover .title-details {
  display: grid;
}

.title-details {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  display: none;
  grid-template-areas:
    "img name name name name"
    "img id pgc pgp dt"
    "img tag tag tag tag"
    "img authors authors authors authors"
    "img char char char char"
    "img lang lang lang lang"
    "img cat cat cat cat"
    "img par par par par"
    "img gr gr gr gr"
    "img load load read read";
  /*grid-template-rows: 1fr 1fr 1fr;*/
  grid-template-columns: 200px 1fr 1fr 1fr 1fr;
  border-spacing: 0px;
  margin-bottom: 20px;
  background: #ffffffef;
}
.title-details *[t="red"] {
  color: red;
}
.title-details *[t="bred"] {
  background: pink;
}
.title-details a.read {
  grid-area: read;
  text-decoration: none;
  color: green;
  background: lightgreen;
  border-radius: 10px;
  padding: 10px;
}
.title-details a.load {
  grid-area: load;
  text-decoration: none;
  color: blue;
  background: lightblue;
  border-radius: 10px;
  padding: 10px;
}

#index-info ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

#top-bar {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  padding: 7px;
  text-align: left;
}

#top-bar > span {
  border-radius: 5px;
  padding: 5px;
  background: #c4c2c2;
  cursor: pointer;
  margin-right: 5px;
}
#top-bar .top-bar-settings {
  top: 0px;
  left: 0px;
  background: var(--app-popup-background);
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: scroll;
  text-align: center;
}

#top-bar .top-bar-settings[show="1"] {
  display: block;
}

#top-bar .top-bar-settings > table {
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  background: var(--app-background);
}

#top-bar .top-bar-settings > table td {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#top-bar .top-bar-settings > table td.head {
  border-bottom: 2px dashed black;
  font-weight: bold;
}

#messages {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#messages > .message {
  display: block;
  width: 300px;
  min-height: 20px;
  background: var(--app-popup-message-background);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  z-index: 999;
}

#messages > .message[level="error"] {
  background: var(--app-popup-message-error-background);
}
